---
import ScratchReveal from "../../ScratchReveal";

import doctorDoom from "../../../assets/doctor-doom.jpg";
import doctorDoomClosed from "../../../assets/doctor-doom-ojos-cerrados.jpg";
import tony from "../../../assets/tony.jpg";
import rostroVerdadero from "../../../assets/rostro-verdadero.jpg";
import bill from "../../../assets/bill.jpg";
import bill2 from "../../../assets/bill-2.jpg";
---

<section id="inicio" class="hero-section">
  <div class="hero-backdrop">
    <ScratchReveal
      client:load
      foreground={doctorDoom.src}
      midground={doctorDoomClosed.src}
      background={tony.src}
      afterReveal={rostroVerdadero.src}
      billImage={bill.src}
      billImage2={bill2.src}
      brushSize={140}
    />
  </div>
</section>
